footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffe4d9;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

html body {
  background-image: url("./Images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#projects-header {
  color: #463646;
  font-family: 'Arial';
  font-size: 30px;
  padding-top: 70px;
}

#about-header{
  color: #463646;
  font-family: 'Arial';
  font-size: 30px;
  padding-top: 70px;
}

#cv-header {
  color: #463646;
  font-family: 'Arial';
  font-size: 30px;
  padding-top: 70px;
}

#contact-header {
  color: #463646;
  font-family: 'Arial';
  font-size: 30px;
  padding-top: 70px;
} 

#hello-header {
  color: #463646;
  font-family: 'Arial';
  font-size: 40px;
  padding-top: 70px;
  text-align: center;
}

#navbar {
  font-size: large;
  font-family: 'Arial';
  background-color: #a39bc6;
}

.container {
  margin-top: em;
  color: white;
}

p {
  color: #463646;
  font-family: 'Arial';
  font-size: 15px;
  
}

#link {
  color: #463646;
}

.grid > div {
  margin-top: 2%;
}